
.chessboardWapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
}

.chessboard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboardRight{
    margin-left: 120px;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.stateContent{
    margin-top: 30px;
}

.gameChange{
    font-size: 20px;
}
.h1Style{
    padding-left: 25px;
    margin: 0;
}
.chessboardRow:first-child .chessboardCell{
    border: none;
}
.chessboardCol:first-child .chessboardCell{
    border: none;
}
.chessboardRow{
    position: relative;
}
.chessboardCell{
    border: 1px solid rgb(131, 130, 130);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
}
.chessboardCell-click{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 12;
    margin-right: -10px;
    margin-bottom: -10px;
}
.chessboardCell-black{
    z-index: 99;
    margin-right: -10px;
    margin-bottom: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333333;
    box-shadow: 0px 2px 5px 2px #eee;
}
.chessboardCell-white{
    z-index: 99;
    margin-right: -10px;
    margin-bottom: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 2px 5px 2px rgb(226, 226, 226);
  
}